<% provide(:title, 'All monsters') %>
<h1>All monsters</h1>

<%= will_paginate %>

<ul class="monsters">
  <% @monsters.each do |monster| %>
    <li>
    	<%= image_tag monster.avatar.url %>
    	<h5><%= monster.name%></h5>
    </li>
  <% end %>

</ul>

<%= will_paginate %>
